#title {
    background-color: #ffff;
}
.container {
    padding: 3% 10% 7%!important;
}
.navbar-brand , .nav-link {
    
    font-family: "Montserrat" !important;
}
.navbar-brand {
    font-size: 2rem !important;

}

h1 {
    font-family: "Montserrat";
    font-size: 3rem !important;
    line-height: 1.5 !important;
    color: black;
    
}

.title-img {
    width: 50%;
    position: absolute;
    right: 50px;
}
#features {
    padding: 7% 15%;
    background-color: #ffff;
    position: relative;
    z-index: 1;
}
.features-box {
    text-align: center;
    padding: 4.5%;
    
}
.features-box-h3 {
    font-family: "Montserrat" ;
    font-size: 1.4rem !important;
}
.icon {
    color: #2FA4FF;
}


#cta{
    text-align: center;
    background-color: #2FA4FF;
    padding: 7% 10% 10% 10%;
}


.cta-title{
    font-family: "Montserrat";
    color: white;
    font-size: 2.5rem !important;
}
#footer{
    text-align: center;
    padding: 10% 10%;
}


